@media screen and (min-width: 320px) {
    		html {font-size: 14px;}
		}
 
		@media screen and (min-width: 360px) {
		    html {font-size: 16px;}
		}
		 
		@media screen and (min-width: 400px) {
		    html {font-size: 18px;}
		}
		 
		@media screen and (min-width: 440px) {
		    html {font-size: 20px;}
		}
		 
		@media screen and (min-width: 480px) {
		    html {font-size: 22px;}
		}
		 
		@media screen and (min-width: 640px) {
		    html {font-size: 28px;}
		}
		body {
			margin: 0;
			padding: 0;
			transition-timing-function: ease-in;
			font-family: Microsoft YaHei; 
		}
		@font-face {
            font-family: 'Metrize-Icons';
            src: url('../fonts/Metrize-Icons.eot');
            src: url('../fonts/Metrize-Icons.eot#iefix') format('embedded-opentype'), 
                 url('../fonts/Metrize-Icons.ttf') format('truetype'), 
                 url('../fonts/Metrize-Icons.woff') format('woff'), 
                 url('../fonts/Metrize-Icons.svg#Metrize-Icons') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        #noDisplay {
        	display: none;
        }
        .clear {clear: both;}
        #page {
        	position: fixed;
        	top: 0;
        	background: -webkit-linear-gradient(#084fff,#08feff);
        	background: -o-linear-gradient(#084fff,#08feff);
        	background: -moz-linear-gradient(#084fff,#08feff);
        	background: linear-gradient(#084fff,#08feff);
        	max-width: 640px;
        	overflow: hidden;
        }
		.search {
			position: relative;
			height: 2.5rem;
			background-color: transparent;
		}
		.search > input {
			position: absolute;
			height: 1.8rem;
			border: none;
			border-radius: 0.5rem;
			width: 18rem;
			outline: none;
			padding: 0 0.4rem;
			margin: -0.9rem 0 0 -9rem; 
			top: -1rem;
			left: 50%;
			background-color: rgba(255,255,255,0.9);
			box-sizing: border-box;
			transition: all .5s;
			opacity: 0;
		}
		.search > .appTitle {
			position: absolute;
			top: 1.5rem;
			left: 50%;
			width: 10rem;
			height: 2rem;
			color: white;
			font-family: Microsoft YaHei;
			font-size: 1.2rem;
			text-align: center;
			margin: -1rem 0 0 -5rem; 
			transition: all .5s;
			-webkit-user-select:none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		#searchButton {
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			background-color: transparent;
			right: 0;
			z-index: 10;
			transition: all .5s;
			-webkit-tap-highlight-color:transparent;
		}
		.buttonScale {
			width: 2.5rem;
			height: 2.5rem;
			position: relative;
		}
		.searchOpen {
			position: absolute;
			top: 0.6rem;
			left: 0.6rem;
			width: 1.25rem;
			height: 1.25rem;
			box-sizing: border-box;
			border: 2px solid white;
			border-radius: 50%;	
			transition: all .5s;		
		}
		.searchOpen:before {
			position: absolute;
			content: "";
			height: 2px;
			width: 0.3rem;
			background-color: white;
			transform: rotate(45deg);
			top:1rem;
			left: 0.9rem;
		}
		.searchClose {
			position: absolute;
			top: 1.25rem;
			left: 0.5rem;
			opacity: 0;
			transition: all .5s;
		}
		.searchClose:before {
			position: absolute;
			content: "";
			height: 2px;
			width: 1.6rem;
			background-color: white;
			transform: rotate(45deg);
		}
		.searchClose:after {
			position: absolute;
			content: "";
			height: 2px;
			width: 1.6rem;
			background-color: white;
			transform: rotate(-45deg);
		}
		.slideShow {
			position: relative;
			height: 15rem;
			background-color: transparent;
			border: none;
		}
		.slider {
			font-size: 3rem;
			text-align: center;
			color: white;
			height: 15rem;
			background-color: transparent;
			box-sizing: border-box;
			overflow: hidden;
		}
		.slideBoard {
			position: absolute;
			height: 15rem;
			background-color: white: 
			border-radius: 10px;
			display: none;
			transition: all .6s;
			left: -100%;
			box-sizing: border-box;
			background-size: 100%;
		}
		.slideBoard:nth-of-type(1) {
			background-image: url(../pic/1.jpg);
		}
		.slideBoard:nth-of-type(2) {
			background-image: url(../pic/2.jpg);
		}
		.slideBoard:nth-of-type(3) {
			background-image: url(../pic/3.jpg);
		}
		.slideBoard:nth-of-type(4) {
			background-image: url(../pic/4.jpg);
		}
		.slideNow {
			left: 0;
			display: block;
		}
		.slideNext {
			left: 100%;
			display: block;
		}
		.slideLast {
			left: -100%;
			display: block;
		}
		.slideNav {
			position: absolute;
			bottom: 0.5rem;
			height: 1rem;
		}
		.navDotBar {
			background-color: rgba(0,0,0,0.2);
			position: relative;
			height: 0.8rem;
			width: 40%;
			margin: 0 auto;
			border-radius: 0.4rem;
		}
		.navDot {
			position: absolute;
			top: 50%;
			width: 0.4rem;
			height: 0.4rem;
			background-color: rgba(0,0,0,0.1);
			border-radius: 50%;
			margin: -0.2rem 0 0 -0.2rem;
		}
		.navDot:nth-of-type(1) {
			left: 5%;
		}
		.navDot:nth-of-type(2) {
			left: 35%;
		}
		.navDot:nth-of-type(3) {
			left: 65%;
		}
		.navDot:nth-of-type(4) {
			left: 95%;
		}
		.navDotNow {
			position: absolute;
			top: 50%;
			margin: -0.2rem 0 0 -0.2rem;
			background-color: white;
			border-radius: 50%;
			width: 0.4rem;
			height: 0.4rem;
			transition: all .6s;
		}
		.nav {
			position: relative;
			background-color: #fff;
		}
		.nav:before {
			position: absolute;
			margin-left:-7.5rem;  
			margin-top: -0.5px;
			top: 50%;
			left: 50%;
			content: "";
			width: 15rem;
			height: 1px;
			background: -webkit-linear-gradient(left,rgba(0,0,0,0),#666,rgba(0,0,0,0));
			background: -o-linear-gradient(left,rgba(0,0,0,0),#666,rgba(0,0,0,0)e);
			background: -moz-linear-gradient(left,rgba(0,0,0,0),#666,rgba(0,0,0,0)e);
			background: linear-gradient(left,rgba(0,0,0,0)9,#666,rgba(0,0,0,0));
			z-index: 2;
		}
		.nav:after {
			position: absolute;
			margin-top:-6rem;  
			margin-left: -0.5px;
			top: 50%;
			left: 50%;
			content: "";
			width: 1px;
			height: 12rem;
			background: -webkit-linear-gradient(rgba(0,0,0,0),#666,rgba(0,0,0,0));
			background: -o-linear-gradient(rgba(0,0,0,0),#666,rgba(0,0,0,0));
			background: -moz-linear-gradient(rgba(0,0,0,0)9,#666,rgba(0,0,0,0));
			background: linear-gradient(rgba(0,0,0,0),#666,rgba(0,0,0,0));
			z-index: 2;
		}
		.nav > .navButton {
			position: relative;
			height: 50%;
			width: 50%;
			float: left;
			background-color: #eee;
		}
		.nav > .navButton > p:nth-of-type(1) {
			margin: 60% auto 0 auto;
			width: 5rem;
			text-align: center;
			background-color: transparent;
			color: #555;
			font-family: Microsoft YaHei;
			-webkit-user-select:none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.nav > .navButton:before {
			position: absolute;
			margin-left: -1rem;
			left: 50%;
			top: 30%;
			font-size: 2rem;
			color: #0cacff;
		}
		.nav > .navButton:nth-of-type(1):before {
			font-family:"Metrize-Icons"; 
			content: "\e0a9";
		}
		.nav > .navButton:nth-of-type(2):before {
			font-family:"Metrize-Icons"; 
			content: "\e000";
		}
		.nav > .navButton:nth-of-type(3):before {
			font-family:"Metrize-Icons"; 
			content: "\e0ac";
		}
		.nav > .navButton:nth-of-type(4):before {
			font-family:"Metrize-Icons"; 
			content: "\e0ad";
		}
		#mask {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: -1;
			background-color: #111;
			transition: all .5s;
		}
		#sideButton {
			position: absolute;
			left: 0;
			z-index: 15;
			height: 2.5rem;
			width: 2.5rem;
			background-color: transparent;
			transition: all .6s;
			-webkit-tap-highlight-color:transparent;
		}
		.line {
			position: relative;
			height: 2.5rem;
			width: 2.5rem;
		}
		.midLine {
			position: absolute;
			top: 1.25rem;
			left: 0.75rem;
			width: 1rem;
			height: 2px;
			margin-top: -1px;
			background-color: white;
			transition: all .5s;
		}
		.topLine {
			position: absolute;
			top: 0.75rem;
			left: 0.75rem;
			width: 1.25rem;
			height: 2px;
			margin-top: -1px;
			background-color: white;
			transition: all .5s;
		}
		.bottomLine {
			position: absolute;
			top: 1.75rem;
			left: 0.75rem;
			width: 1.25rem;
			height: 2px;
			margin-top: -1px;
			background-color: white;
			transition: all .5s;
		}
		#sideNav {
			background-color: #eee;
			position: absolute;
			top: 0;
			color: #084fff;
			z-index: 15;
			transition: all .6s;
			box-shadow: 1px 0 5px #111;
			max-width: 640px !important;
		}
		.user {
			height: 15rem;
			background-color: #333;
		}
		.icon {
			position: absolute;
			margin-left: -3rem;
			left: 50%;
			top: 3rem;
			width: 6rem;
			height: 6rem;
			background-image: url(../pic/icon.gif);
			background-size: 120%;
			background-position: 50% 50%;
			border-radius: 50%;
			border: 2px solid #0cacff;
		}
		.icon > p {
			font-size: 1.5rem;
			width: 3rem;
			font-family: Microsoft YaHei;
			margin: 1rem auto 0 auto;
			color: #fff;
			display: none;
		}
		.account {
			position: absolute;
			width: 10rem;
			margin-left: -5rem;
			left: 50%;
			top: 12rem;
		}
		.account > div {
			display: block;
			width: 50%;
			text-decoration: none;
			color: #fff;
			font-family: Microsoft YaHei;
			float: left;
			text-align: center;
			-webkit-user-select:none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.account:before {
			position: absolute;
			margin-top: -0.25rem;
			left: 50%;
			top: 50%;
			content: "";
			height: 0.5rem;
			width: 0;
			border: 1px solid #0cacff;
		}
		.noLog {
			text-align: center;
			color: #999;
		}
		#loginBoard {
			position: absolute;
			top: 0;
			background-color: rgba(0,0,0,0.2);
			opacity: 0;
			z-index: -1;
			transition: all .5s;
		}
		.loginContent {
			width: 20rem;
			height: 16rem;
			position: absolute;
			margin: -8rem 0 0 -10rem;
			top: 50%;
			left: 50%;
			z-index: 21;
			background-color: white;
			box-shadow: 0 0 15px black;
			overflow: hidden;
			opacity: 0;	
			transition: all .5s;
		}
		.loginTitle{
			height: 2.5rem;
			background-color: #0C65FF;
			color: white;
			text-align: center;
			box-sizing: border-box;
			padding-top: 0.5rem;
		}
		.loginForm {
			position: relative;
			width: 15rem;
			height: 5rem;
			background-color: transparent;
			margin: .5rem auto;
		}
		.loginForm input {
			-webkit-appearance:none;
			outline: none;
			border: none;
			box-sizing: border-box;
			padding: 0 1.3rem;
			font-size: 1.3rem;
			width: 15rem;
			margin: .5rem auto;
			background-color: transparent;
		}
		.loginbottomLine {
			position: absolute;
			margin: 0 0 0 -8.5rem;
			left: 50%;
			width: 17rem;
			height: 1px;
			background: -webkit-linear-gradient(left,rgba(0,0,0,0),#666,rgba(0,0,0,0));
			background: -o-linear-gradient(left,rgba(0,0,0,0),#666,rgba(0,0,0,0));
			background: -moz-linear-gradient(left,rgba(0,0,0,0),#666,rgba(0,0,0,0));
			background: linear-gradient(left,rgba(0,0,0,0),#666,rgba(0,0,0,0));
		}
		.loginbottomLine:nth-of-type(1) {
			top: 2.5rem;
		}
		.loginbottomLine:nth-of-type(2) {
			top: 5rem;
		}
		.loginForm input[type="submit"] {
			background-color: transparent;
			font-family: Microsoft YaHei;
			color: rgba(12,172,255,0.7);
			height: 2.5rem;
			font-size: 1rem;
			box-sizing: border-box;
			border: 1px solid rgba(12,172,255,0.7); 
			border-radius: 5px;
		}
		.loginCancle {
			background-color: transparent;
			font-family: Microsoft YaHei;
			color: #FF495C;
			height: 2.5rem;
			font-size: 1rem;
			box-sizing: border-box;
			border: 1px solid #FF495C;
			text-align: center;
			padding: 0.5rem 0;
			border-radius: 5px;
		}
